/*1. Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*2. Remove default margin */
* {
  margin: 0;
}

/*3. Miglioriamo la leggibilità del nostro carattere */
body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

/* cambiamo il display di default dei media in block */

img, video, svg, canvas, picture {
  display: block;
  max-width: 100%;
}

/* I controlli dei form erediteranno lo stile dei loro genitori */
:where(input, button, textarea, select) {
     /*aggiunge specificità 0 al selettore*/
    font: inherit;
    color: inherit;
}

